/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25em;
}

.light{
  color: rgb(59, 58, 58);
}

.medium{
  background-color: rgba(246, 143, 11, 1);
  color: white;

}

.dark{
  background-color:rgba(183, 37,0, 1);
  color: white;
}
/******************************************
/* Navigation Bar
/*******************************************/
li a {
  color: rgb(59, 58, 58);
  text-decoration: none;
}
.navBar{
  margin: 0 auto;
  width: 800px;
}
.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

/******************************************
/* Home Page
/*******************************************/
.home.section1{
  background-image: url(/images/background.jpg);
padding: 10%;
}

.home.section2{
  padding: 10%;
  text-align: center;
}

.home.section2 h3{
  margin: 0;
}

.home.section3{
width: 40%;
text-align: center;
margin: auto;
font-weight: 200;
font-style: italic;
text-size-adjust: auto;
padding: 10% 0;
}

/******************************************
/* About Me page
/*******************************************/

.aboutMe.section1{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1em;
  background-color: whitesmoke;
  padding-top: 1em;
}

.aboutMe.section1 section{
width: 40%;
padding: 1em;
}

.aboutMe.section1 img{
  width: 100%;
}

.aboutMe.section2{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.aboutMe.section2 section{
  height: 400px;
  padding: 5em;
  font-size: 0.5em;
  text-align: center;
  }

  .aboutMe.section2 img{
    height: 100%;
  }

/******************************************
/* Classes
/*******************************************/

.classes.section1{
  margin: 0 auto;
  text-align: center;
}

.classImg img{
  width: 400px;
  height: 400px;
  object-fit: scale-down;
  object-fit: cover;
}

.classDescription{
  max-width: 400px;
  padding: 10px;
}

.class{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.class.imgRight{
  flex-direction: row-reverse;
}

/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* FOOTER
/*******************************************/
.footer{
  text-align: center;
  margin: auto;
  padding: 5%;
  }

.footer a{
  text-decoration: none;
  color: white;
}

.material-symbols-outlined{
  color: white;
  font-size: 45px;
}



/******************************************
/* Mobile verison
/*******************************************/
@media screen and (max-width: 850px){

  .defaultNav{
    display: none;
  }

  .navBar{
    width:100%;
  }

}
