/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
.navBar{
  margin: 0 20%;
}
.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}


footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
