/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25em;
}

.light{
  color: rgb(59, 58, 58);
}

.medium{
  background-color: rgba(246, 143, 11, 1);
  color: white;

}

.dark{
  background-color:rgba(183, 37,0, 1);
  color: white;
}
/******************************************
/* Navigation Bar
/*******************************************/
li a {
  color: rgb(59, 58, 58);
  text-decoration: none;
}
.navBar{
  margin: 0 auto;
  width: 800px;
}
.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

/******************************************
/* Home Page
/*******************************************/
.home.section1{
  background-image: url(/images/background.jpg);
padding: 10%;
}

.home.section2{
  padding: 10%;
  text-align: center;
}

.home.section2 h3{
  margin: 0;
}

.home.section3{
width: 40%;
text-align: center;
margin: auto;
font-weight: 200;
font-style: italic;
text-size-adjust: auto;
padding: 10% 0;
}

/******************************************
/* About Me page
/*******************************************/

.aboutMe.section1{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1em;
  background-color: whitesmoke;
  padding-top: 1em;
}

.aboutMe.section1 section{
width: 40%;
padding: 1em;
}

.aboutMe.section1 img{
  width: 100%;
}

.aboutMe.section2{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.aboutMe.section2 section{
  height: 400px;
  padding: 5em;
  font-size: 0.5em;
  text-align: center;
  }

  .aboutMe.section2 img{
    height: 100%;
  }

/******************************************
/* Classes
/*******************************************/

.classes.section1{
  margin: 0 auto;
  text-align: center;
}

.classImg img{
  width: 400px;
  height: 400px;
  object-fit: scale-down;
  object-fit: cover;
}

.classDescription{
  max-width: 400px;
  padding: 10px;
}

.class{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.class.imgRight{
  flex-direction: row-reverse;
}

/******************************************
/* Gallery
/*******************************************/

.gallImg img{
  width: 400px;
  height: 400px;
  object-fit: cover;
  padding: 10px;
}

.gallery{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  
}

/******************************************
/* Contact
/*******************************************/
.contact{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
  background-color: whitesmoke;
  padding: 40px;
  
}

.row{
  display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.container{
  height: 400px;
}

.container.contactImg img{
  height: 100%;
}

.row form{
  margin: 35px 30px
}


.contactList .input,
.contactList .message{
  height: 50px;
  max-width:100%;
  margin-bottom: 20px;
}

form .input input,
form .message textarea{
  height:100%;
  width:100%;
  outline: none;
  padding: 0 18px;
  font-size: 16px;
  border: 1px solid rgba(183, 37,0, 1);
  border-radius: 5px;
}

form .input input::placeholder,
form .message textarea::placeholder{
  color: rgba(183, 37,0, 1) ;
}

form .message textarea{
  min-width: 400px;
  max-width: 400px;
  min-height: 100px;
  max-height: 145px;
}

form .buttonArea{
  margin:100px 0;

}

.buttonArea button{
  font-size:18px;
  border: none;
  background-color: rgba(183, 37,0, 1);
  color: white;
  padding: 13px 25px;
  border-radius: 5px;
}

.contact .container .icons{
  list-style-type: none;
}

.contact .container .icons li{
  display: flex;
  align-items: center;
  color: rgba(183, 37,0, 1);
  padding: 20px 0;
}

.contact .container .icons li a{
  display: flex;
  align-items: center;
  color: rgba(183, 37,0, 1);
}

.icons .material-symbols-outlined{
  color: rgba(183, 37,0, 1);
  font-size: 30px;
}


/******************************************
/* FOOTER
/*******************************************/
.footer{
  text-align: center;
  margin: auto;
  padding: 5%;
  }

.footer a{
  text-decoration: none;
  color: white;
}

.material-symbols-outlined{
  color: white;
  font-size: 45px;
}



/******************************************
/* Mobile verison
/*******************************************/
@media screen and (max-width: 850px){

  .defaultNav{
    display: none;
  }

  .navBar{
    width:100%;
  }

}
